@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

html {
  font-family: "Roboto";
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 隐藏原生滚动条 */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(113, 113, 122, 0.03),
    rgba(113, 113, 122, 0.3),
    rgba(113, 113, 122, 0.03)
  );
}

.mdc-prose {
  @apply prose-img:rounded-sm 
         prose-pre:rounded-sm 
         prose-pre:bg-white/50 
         dark:prose-pre:bg-neutral-950 
         prose-code:text-[0.8rem] 
         prose-code:leading-[1.3rem] 
         prose-a:text-primary-500 
         prose-h3:prose-a:text-neutral-600 
         dark:prose-h3:prose-a:text-neutral-300 
         prose-h4:prose-a:text-neutral-600 
         dark:prose-h4:prose-a:text-neutral-300
         prose-blockquote:border-neutral-300
         dark:prose-blockquote:border-neutral-800
         prose-a:underline-offset-4
         prose-a:decoration-wavy
         prose-a:decoration-[1px];
}

.alert-diagonal-bg::before {
  content: "";
  position: absolute;
  left: -40%;
  top: 0;
  width: 180%;
  height: 100%;
  background: repeating-linear-gradient(120deg, var(--ui-bg) 0 4px, transparent 4px 12px);
  opacity: 0.4;
  pointer-events: none;
  z-index: 0;
}
.alert-diagonal-bg {
  position: relative;
  z-index: 1;
}

.v3-emojis button {
  flex-basis: 16.6% !important;
  max-width: 16.6% !important;
  font-size: 24px !important;
  border-radius: 6px !important;
}

.v3-emoji-picker .v3-body {
  padding: 11px 0 15px 11px !important;
}

.v3-emoji-picker .v3-footer {
  display: none !important;
}
