.cropper-stencil {
    &__preview {
        &:after,
        &:before {
            content: "";
            opacity: 0;
            transition: opacity 0.25s;
            position: absolute;
            pointer-events: none;
            z-index: 1;
        }

        &:after {
            border-left: solid 1px white;
            border-right: solid 1px white;
            width: 33%;
            height: 100%;
            transform: translateX(-50%);
            left: 50%;
            top: 0;
        }

        &:before {
            border-top: solid 1px white;
            border-bottom: solid 1px white;
            height: 33%;
            width: 100%;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
        }
    }

    &--dragging {
        .cropper-stencil__preview {
            &:after,
            &:before {
                opacity: 0.7;
            }
        }
    }
}

.cropper-line {
    border-color: rgba(white, 0.8);
}

.cropper-handler-wrapper {
    width: 24px;
    height: 24px;
    &--west-north {
        transform: translate(0, 0);
    }
    &--east-south {
        transform: translate(-100%, -100%);
    }
    &--west-south {
        transform: translate(0, -100%);
    }
    &--east-north {
        transform: translate(-100%, 0);
    }
}

.cropper-handler {
    display: block;
    position: relative;
    flex-shrink: 0;
    transition: opacity 0.5s;
    border: none;
    background: white;
    height: 4px;
    width: 4px;
    opacity: 0;
    top: auto;
    left: auto;

    &--west-north,
    &--east-south,
    &--west-south,
    &--east-north {
        display: block;
        height: 16px;
        width: 16px;
        background: none;
        opacity: 0.7;
    }

    &--west-north {
        border-left: solid 2px white;
        border-top: solid 2px white;
    }

    &--east-south {
        border-right: solid 2px white;
        border-bottom: solid 2px white;
    }

    &--west-south {
        border-left: solid 2px white;
        border-bottom: solid 2px white;
    }

    &--east-north {
        border-right: solid 2px white;
        border-top: solid 2px white;
    }

    &--hover {
        opacity: 1;
    }
}
